@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111827;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
}

.default-fallback {
  @apply flex items-center justify-center pt-4 pb-6 mx-6 bg-gray-800 rounded h-52 md:mt-10 md:mx-10;
}

.top-albums-grid {
  @apply grid grid-cols-2 px-6 mt-8 ml-5 md:pb-20 pb-14 md:grid-cols-4 xl:grid-cols-2 md:ml-6 xl:ml-2 2xl:ml-5 xl:gap-x-5 2xl:gap-x-0 gap-y-20 2xl:gap-y-24;
}

.home-grid-layout {
  @apply px-6 pb-6 mt-12 space-y-10 md:px-10 md:pb-8 xl:space-y-0 xl:gap-8 xl:grid-cols-12 xl:grid-rows-6 xl:grid;
}

.playlist-popup {
  @apply fixed z-50 h-[400px] w-[250px] md:h-[600px] md:w-[400px] xl:h-[600px] xl:w-[450px] -mt-24 2xl:h-[800px] 2xl:w-[600px] -ml-32 md:-ml-44 xl:-ml-52 2xl:-ml-64 bg-gray-900 rounded top-1/3 md:top-1/4 left-1/2;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #111827;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 100vh;
}

/* Handle on hover and active */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: #4338ca;
}
